.exercicios{
    display: flex;
    justify-content: space-around;
}

#exercicio01{
    background-color: rgb(159, 240, 195);
  
}
#exercicio02{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border: solid 2px black;
}

.textos{
    display: flex;
    justify-content: space-around;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
}

.txt01{
    margin-top: 20px;
}
.txt02{
    margin-top: 20px;
}

.link-projetos {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #FCE5C5;
    color: gray;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.link-projetos:hover {
    background-color: gray;
    color: white;
}