body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
  margin: 0;
}

canvas {
  border: 2px solid #00ff99;
  background-color: white;
}
